$dark-blue: #01204C;

.header {    
    background-color: $dark-blue;
    margin-bottom: 24px;

		&__menu {
		}

		&__menu-list {
		}

		&__menu-item {
		}

		&__menu-link {
		}

		&__download-link {
		}
}
