.hero {  
  max-width: $section-width;
  margin: 0 auto;
  margin-top: 160px;

  @media screen and (max-width: 1024px) {
    margin-top: 80px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 40px;
  }
  // .hero__wrapper

  &__wrapper {
    max-width: 1144px;
    margin: 0 auto;
    display: flex;    
    gap: 47px;

    @media screen and (max-width: 1240px) { 
      flex-direction: column;
      align-items: center;

      gap: 80px;
    }
  }

  // .hero__container

  &__container {

    // .hero__container_type

    &_type_preview {
      padding-top: 85px;

      @media screen and (max-width: 1024px) {
        padding-top: 45px;        
      }

      @media screen and (max-width: 768px) {
        padding-top: 20px;
      }
    }

    // .hero__container_type

    &_type_badge {      
    }
  }

  // .hero__title

  &__title {
    margin: 0;
    margin-bottom: 24px;

    @media screen and (max-width: 768px) {
      margin-bottom: 16px;
    }
  }

  // .hero__subtitle

  &__subtitle {
    margin: 0;
    margin-bottom: 48px;

    @media screen and (max-width: 768px) {
      margin-bottom: 32px;
    }
  }

  &__buttons-container {
    display: flex;
    gap: 48px;
    align-items: center;

    @media screen and (max-width: 1024px) {
      justify-content: center;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    &_type_portfolio {
      background: $blue;
      padding: 18px 58px;
      @extend %active-button-border;

      @media screen and (max-width: 768px) {
        padding: 10px 22px;
      }
    }

    &_type_about {

    }
  }

  // .hero__image

  &__image {    
    position: relative;
    z-index: 3;
    max-width: 565px;
  }

  // .hero__badge

  &__badge {    

    // .hero__badge_type

    &_type_name {
      margin: 0;
      margin-bottom: 24px;
    }

    // .hero__badge_type

    &_type_proff {
      margin: 0;
      margin-bottom: 8px;
    }

    // .hero__badge_type

    &_type_experience {
      margin: 0;
    }
  }

  &__badge-info-container {
    box-sizing: border-box;
    padding: 105px 0px 41px 48px;
    margin-top: -103px;
    margin-left: auto;

    background: linear-gradient(90deg, rgba(255, 255, 255, 0.08) -1.52%, rgba(255, 255, 255, 0.0192) 104.35%);
    backdrop-filter: blur(60px);

    clip-path: polygon(50% 0%, 100% 0, 100% 80%, 85% 100%, 0 100%, 0% 60%, 0 0);

    border-radius: 8px;
    max-width: 460px;
  }
}