.stack {
  max-width: $section-width;
  margin: 0 auto;
  margin-top: 64px;
  // .stack__title

  &__title {
    margin: 0;
    margin-bottom: 24px;
  }

  // .stack__list

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 24px;

    @media screen and (max-width: 1240px) {
      grid-template-columns: repeat(3, auto);
      align-items: center;
      
    }
  }

  // .stack__list-item

  &__list-item {
    @extend %card;
    padding: 28px 42px;
  }

  // .stack__icon

  &__icon {
  }

  // .stack__text

  &__text {
  }
}
