.stack {
  max-width: $section-width;
  margin: 0 auto;
  margin-top: 64px;
  // .stack__title

  &__title {
    margin: 0;
    margin-bottom: 24px;
  }

  // .stack__list

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 1144px;
    margin: 0 auto;
    grid-gap: 24px;
    
    justify-items: center;

    @media screen and (max-width: 1400px) {      
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 967px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .stack__list-item

  &__list-item {
    display: flex;
    justify-content: center;

    @extend %card;
    padding: 28px 42px;

    box-sizing: border-box;
    width: 100%;

    @media screen and (max-width: 967px) {
      padding: 14px 21px;
    }
  }

  // .stack__icon

  &__icon {
  }

  // .stack__text

  &__text {
    text-align: center;
  }
}
