%card {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.08) -1.52%, rgba(255, 255, 255, 0.0192) 104.35%);
  backdrop-filter: blur(32px);
  border-radius: 2px 24px;
}

%portfolio-button {
  background: #294B7C;
  border-radius: 0px 16px 0px 0px;
  padding: 8px 16px;
}

%portfolio-image {
  border-radius: 0px 24px;
}

%active-button-border {
  border-radius: 12px 0px;
}