%header-text {
  color: #fff;
  text-decoration: none;
}

%card {
  display: flex;
  flex-direction: column;

  background: linear-gradient(90deg, rgba(255, 255, 255, 0.08) -1.52%, rgba(255, 255, 255, 0.0192) 104.35%);
  backdrop-filter: blur(32px);
  border-radius: 2px 24px;  

  &::after {
    content: '';
    position: absolute;
    border-radius: inherit;
    inset: 0;
    z-index: 1;
    background: radial-gradient(
      40em circle at var(--mouseX) var(--mouseY),
      rgba(166, 89, 211, 0.2), 
      transparent 40%
    );
    opacity: 0;
    transition: .35s;
  }

  &:hover:after {
    opacity: 1;
  }
}

%portfolio-button {
  background: #294B7C;
  border-radius: 0px 16px 0px 0px;
  padding: 8px 16px;
}

%portfolio-image {
  margin-top: auto;
  max-width: 100%;
  border-radius: 0px 24px;
}

%active-button-border {
  border-radius: 12px 0px;
}

%section-width {
  max-width: calc(100% - 152px);

  @media screen and (max-width: 768px) {
    max-width: calc(100% - 32px);
  }
} 