$dark-blue: #01204C;
$gray-text: #BEBEBE;
$blue: #3AB8FF;
$circle-blue-ligth: #1F62EA;
$circle-purple: #794CEC;
$circle-purple-deep: #F268EA;

$section-width: calc(100% - 152px);

$neue-light: 'Neue Machina Light', sans-serif;
$neue-regular: 'Neue Machina Regular', sans-serif;
$neue-bold: 'Neue Machina Ultrabold', sans-serif;
$proxima-bold: 'Proxima Nova Bold', sans-serif;
$proxima-extrabold: 'Proxima Nova Extrabold', sans-serif;