@font-face {
    font-family: 'Neue Machina Light';
    src: 
      url(../fonts/NeueMachina-Light.woff2) format('woff2'),
      url(../fonts/NeueMachina-Light.woff) format('woff'),
      url(../fonts/NeueMachina-Light.ttf) format('ttf'),
      url(../fonts/NeueMachina-Light.eot) format('eot');
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Neue Machina Regular';
    src:
      url(../fonts/NeueMachina-Regular.woff2) format('woff2'),
      url(../fonts/NeueMachina-Regular.woff) format('woff'),
      url(../fonts/NeueMachina-Regular.ttf) format('ttf'),
      url(../fonts/NeueMachina-Regular.eot) format('eot');
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Neue Machina Ultrabold';
    src: 
      url(../fonts/NeueMachina-Ultrabold.woff2) format('woff2'),
      url(../fonts/NeueMachina-Ultrabold.woff) format('woff'),
      url(../fonts/NeueMachina-Ultrabold.ttf) format('ttf'),
      url(../fonts/NeueMachina-Ultrabold.eot) format('eot');
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Proxima Nova Bold';
    src: 
      url(../fonts/ProximaNova-Bold.woff2) format('woff2'),
      url(../fonts/ProximaNova-Bold.woff) format('woff'),
      url(../fonts/ProximaNova-Bold.ttf) format('ttf'),
      url(../fonts/ProximaNova-Bold.eot) format('eot');
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Proxima Nova Extrabold';
    src: 
      url(../fonts/ProximaNova-Extrabld.woff2) format('woff2'),
      url(../fonts/ProximaNova-ExtrabldIt.woff) format('woff'),
      url(../fonts/ProximaNova-ExtrabldIt.ttf) format('ttf'),
      url(../fonts/ProximaNova-ExtrabldIt.eot) format('eot');
    font-style: normal;
    font-display: swap;
}