.title {
  font-family: $proxima-extrabold;
  color: #fff;
  font-size: 56px;
  line-height: 1.3;

  @media screen and (max-width: 768px) {
    font-size: 32px;
  }
}

.subtitle {
  font-family: $neue-light;
  color: $gray-text;
  font-size: 24px;
  line-height: 1.4;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.header {		

	&__menu-link {
    font-family: $neue-light;
    @extend %header-text;
    font-size: 16px;
    line-height: 20px;

    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }

    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
	}

	&__download-link {
    font-family: $neue-bold;
    @extend %header-text;
    font-size: 18px;
    line-height: 22px;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }
	}
}

.hero {

	&__link {

    font-family: $neue-bold;
    font-size: 24px;
    line-height: 40px;
    text-decoration: none;

    @media screen and (max-width: 768px) {
      font-size: 16px;
    }

		// .hero__link_type

		&_type_portfolio {
      color: #fff;
		}

		// .hero__link_type

		&_type_about {
      color: $blue;
		}
	}
  
	// .hero__badge

	&__badge {

	  // .hero__badge_type

	  &_type_name {
      font-family: $neue-regular;
      color: #fff;
      font-size: 40px;
      line-height: 56px;
	  }

	  // .hero__badge_type

	  &_type_proff {
      font-family: $neue-regular;
      color: #fff;
      font-size: 32px;
      line-height: 32px;
	  }

	  // .hero__badge_type

	  &_type_experience {
      font-family: $neue-light;
      color: $gray-text;
      font-size: 24px;
      line-height: 32px;
	  }
  }
}

.about {
  color: #fff;

  // .about__date

  &__date {
    font-family: $proxima-extrabold;
    font-size: 24px;
    line-height: 32px;
  }

  // .about__text

  &__text {
    font-family: $neue-light;
    font-size: 16px;
    line-height: 20px;
  }
}

.stack {
  color: #fff;

  // .stack__title

  &__title {
    font-family: $neue-regular;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
  }

  // .stack__text

  &__text {
    font-family: $neue-light;
    font-size: 24px;
    line-height: 34px;
  }
}

.card {
  color: #fff;

  // .card__title

  &__title {
    font-family: $neue-regular;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
  }

  // .card__stack-list-item

  &__stack-list-item {
    font-family: $neue-light;
    font-size: 16px;
    line-height: 20px;
  }
}

.footer {

  // .footer__wrapper

  &__wrapper {
  }

  // .footer__socials

  &__socials {
  }

  // .footer__social

  &__social {
     
  }

  // .footer__link

  &__link {
    font-family: $neue-regular;
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    line-height: 32px;
  }

  // .footer__contact

  &__contact {
  }

  // .footer__contact-text

  &__contact-text {
    font-family: $neue-light;
    color: $gray-text;
    font-size: 24px;
    line-height: 32px;
  }

  // .footer__resume

  &__resume {
    font-family: $neue-bold;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
  }
}
